[Unit]
Description={{ springboot_application_name }}
After=syslog.target

[Service]
User={{ springboot_user }}
ExecStart={{ springboot_base_path }}/{{ springboot_application_name }}/app.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
